<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/amarillo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.EnglishApp"
        tools:targetApi="31">
        <activity
            android:name=".SeleccionApodo"
            android:exported="false" />
        <activity
            android:name=".DatosJugador"
            android:exported="false" />
        <activity
            android:name=".Resultados_Jugar"
            android:exported="false" />
        <activity
            android:name=".Pregunta_5"
            android:exported="false" />
        <activity
            android:name=".Pregunta_4"
            android:exported="false" />
        <activity
            android:name=".Pregunta_3"
            android:exported="false" />
        <activity
            android:name=".Pregunta_2"
            android:exported="false" />
        <activity
            android:name=".Jugar"
            android:exported="false" />
        <activity
            android:name=".MenuJuegoOAprender"
            android:exported="false" />
        <activity
            android:name=".Animales"
            android:exported="false" />
        <activity
            android:name=".Frutas"
            android:exported="false" />
        <activity
            android:name=".ColoresLayout"
            android:exported="false" />
        <activity
            android:name=".Colores"
            android:exported="false" />
        <activity
            android:name=".MenuApp"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>